*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul, ol {
    list-style: none;
}
.container {
    width: 70%;
    background: #124c81;
    padding: 20px 30px;
    margin: 20px auto;
    border-radius: 25px;
    background: linear-gradient(to top,#000000ea, #000000e7 ),url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #007b65;
    letter-spacing: 3px;
}
.container .content h2 {
    margin-bottom: 26px;
    text-align: center;
    color: #e1e1e1;
    letter-spacing: 2px;
}
.container .content ul {
    width: 60%;
    margin: 0 auto;
}
.container .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #007b65;
    padding: 10px 16px;
    border-radius: 18px;
    transition: .3s ease;
}
.container .content ul li:hover {
    transform: scale(1.03);
}
.container .content ul li input {
    width: 20px;
    height: 20px;
    margin-right: 18px;
    accent-color: #124c81;
}
.container .content ul li label {
    font-size: 26px;
    text-transform: capitalize;
    color: #e1e1e1;
}
.container .content ul li h3 {
    font-size: 28px;
    color: #e1e1e1;
    transition: .3s ease;
    padding: 10px 20px;
    border-radius: 50%;
    border: 1px solid transparent;
}
.container .content ul li h3:hover{
    color: #d10000;
    transform: scale(1.1);
    border: 1px solid #d10000;
}
.container .submit form {
    display: flex;
    align-items: center;
    
}
.container .submit {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.container .submit form input {
    padding: 18px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid transparent;
    background: #e1e1e1;
    color: #124c81;
    font-size: 20px;
}
.container .submit form input:focus{
    outline: none;
    border: 2px solid #128170;
}
.container .submit form button {
    padding: 18px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid transparent;
    font-size: 20px;
    background: #007b65;
    color: #e1e1e1;
    transition: .3s ease;
    cursor: pointer;
}
.container .submit form button:hover{
    background: #012e25;
    border: 2px solid #128170;
}
.container .done ul li label{
    text-decoration:line-through ;
    color: #2a2a2a;
}
.container .done ul li .actions{
    display: flex;
    align-items: center;
}
.container .done ul li .actions img {
    margin-right: 16px;
    transition: .3s ease;
}
.container .done ul li .actions img:hover {
    transform: rotate(360deg);
}
@media screen and (max-width:768px){
    .container .content ul {
        width: 80%;
    }
}
@media screen and (max-width:640px){
    .container .submit form{
        flex-direction: column;
    }
    .container .submit form input{
        border-radius: 10px;
        font-size: 16px;
    }
    .container .submit form button {
        border-radius: 10px;
        margin-top: 16px;
    }
    .container .content ul li h3 {
        font-size: 20px;
        padding: 6px 12px;
    }
    .container .done ul li .actions img {
        margin-right: 5px;
    }
    .container {
        width: 85%;
    }
    .container h1{
        font-size: 28px;
    }
    .container .submit form input ,.container .submit form button,.container .content ul li label{
        font-size: 18px;
    }
}
@media screen and (max-width:360px){
    
    .container .submit form button {
        
        font-size: 16px;
    }
    .container .content ul{
        width: 100%;
    }
}